.font_english{
    font-family: 'Roboto Condensed', sans-serif;
}
.font_korean{
    font-family: 'Pretendard', sans-serif;
}

.ro_header_semibold_16{
    font-size: 16px;
    font-weight: 600; /* semibold */
    color: black;
}
.ro_header_light_13{
    font-size: 13px;
    font-weight: 300; /* light */
    color: #868181;
}
.ro_img_title_light_45{
    font-size: 45px;
    font-weight: 300; /* light */
    color: white;
    letter-spacing : 280px;
}
.ro_img_sec_title_regular_24{
    font-size: 24px;
    font-weight: 400; /* regular */
    color: black;
    letter-spacing: 200px;
}
.pre_img_sub_light_16{
    font-size: 16px;
    font-weight: 300; /* light */
    color: white;
}
.pre_button_black_medium_16{
    font-size: 16px;
    font-weight: 500; /* medium */
    color: black;
}
.pre_button_white_medium_16{
    font-size: 16px;
    font-weight: 500; /* medium */
    color: white;
}
.pre_items_k_medium_18{
    font-size: 18px;
    font-weight: 500; /* medium */
    color: black;
}
.ro_sec_title_black_regular_38{
    font-size: 38px;
    font-weight: 400; /* regular */
    color: black;
}
.pre_sub_text_black_medium_18{
    font-size: 18px;
    font-weight: 500; /* medium */
    color: black;
}
.ro_sec_title_white_regular_38{
    font-size: 38px;
    font-weight: 400; /* regular */
    color: white;
}
.pre_sub_text_white_medium_18{
    font-size: 18px;
    font-weight: 500; /* medium */
    color: white;
}
.pre_sub_text_light_17{
    font-size: 17px;
    font-weight: 300; /* light */
    color: #888888;
}
.pre_footer_medium_15{
    font-size: 15px;
    font-weight: 500; /* medium */
    color: white;
}
.pre_footer_light_14{
    font-size: 14px;
    font-weight: 300; /*light */
    color: white;
}

$menung : 1rem;

#hd{
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
  
  
    h1{
        
        a{
            text-decoration: none;
            color: black;
            img{

            }
        }
    }
    li{
        margin-left: $menung;
        
        
    }
    .gnb{
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: 1rem;
        margin-top: 10px;
        li{
           
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .iconMenu{
        display: flex;
        align-items: center;
        margin-top: 10px;
        li{
            
            i{

            }
            // span{
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     display: block;
            //     overflow: hidden;
            //     opacity: 0;
            //     // 접근성 준수 ( 웹 화면엔 안보이지만 청각장애인분들한텐 들림) //
            // }
        }

    }
    .member{
        display: flex;
        align-items: center;
        margin-top: 10px;
        li{
            
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}
h1 img {
    width: 129px;
    height: auto;
}

